.body{
    box-sizing: border-box;
    background: url(/IMAGES/backgroud-login-1.jpg) !important;
    background-size: cover;
}

.login-page-container{
    background-color: lightgreen;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      height: 450px;
      box-shadow: 5px 5px 5px   rgb(149, 144, 144);
      border-radius: 50px;

}

.login-left-half{
    width: 50%;
    background-color: #2874f0;
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightblue;
    padding : 20px 20px;
}

.login-text h2{
    color: white;
    font-size: 24px;
}

.login-right-half{
    width:50%;
    background-color: #ffffff;
    padding: 20px 20px;
}

.login-form input{
    width: 80%;
    padding : 10px;
    margin-bottom: 5px;
    border: none;
    transition: ease 0.3s;
}

.login-form input:focus{
    transform: scale(1.1);
    outline: none;
    border-bottom: 1px solid rgb(202, 134, 8);
}

.remember-me-container{
    margin: 15px 0;
    display: grid;              /* Enable Grid layout */
    grid-auto-flow: column;     /* Arrange items in a single row */
    align-items: center;        /* Align items vertically in the center */
    justify-content: start;
}

.remember-me-container label{
    margin-right: 10px;
}

button{
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 30px;
    background-color: #2874f0;
    cursor: pointer;
    transition: ease 0.5s;
}

button:hover{
    background-color: #1d478f;
    transform: scale(1.05);

}